@page
@model BookStoreSampleApp.Triggered.Pages.Purchases.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerPurchase[0].PurchaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerPurchase[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerPurchase[0].Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerPurchase[0].Book)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CustomerPurchase) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book.Id)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
